html {
  background: linear-gradient(231deg, rgba(238,174,202,1) 20%, rgba(148,187,233,1) 100%);
  min-height: 100%;
}


#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;

}

nav > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #052d7a;
  margin-right: 30.5px;
  text-decoration-line: none;
}

nav > a.active {
  font-weight: bold;
  color: #e3146a;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

section {
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #e3146a;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile-title {
  font-weight: bold;
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.tile-container {
  margin: 0.3rem;
  padding: 0.5rem;
  background-color: rgba(214, 224, 247, 0.7);
  border-radius: 5px;
}

form {
  max-width: 600px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #052d7a;
  font-size: 1.5rem;
}

select option {
  margin: 40px;
  background: white;
}
