@import url(./styles/typography.css);
@import url(./styles/forms.css);


nav > a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #052d7a;
    margin-right: 30.5px;
    text-decoration-line: none;
  }
  
  nav > a.active {
    font-weight: bold;
    color: #e3146a;
  }
  
  nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #979797;
    margin-bottom: 20px;
  }
  